HELP.md

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build folders
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ configuration
.idea/
*.iml
*.ipr
*.iws

# Environment files / credentials
application-dev.properties
*.env
pgdata/

# Logs and temp files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db