version: '3.8'

services:
  db:
    image: postgres:16
    container_name: vibebooks_postgres_db
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    build: .
    container_name: vibebooks_api_service
    env_file:
      - .env
    ports:
      - "8081:8080"
    environment:
      SERVER_PORT: 8080
      DB_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      GOOGLE_BOOKS_API_KEY: ${GOOGLE_BOOKS_API_KEY}
    depends_on:
      - db
    restart: unless-stopped