name: Deploy VibeBooks API

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-deploy:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Construir e Criar Imagem Docker
        run: |
          mvn clean package -DskipTests
          docker build . -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Deploy no Kubernetes (K3s)
        run: |
          # Aplica o arquivo que criamos na pasta k8s
          kubectl apply -f k8s/deployment.yaml
          
          # Força o Kubernetes a baixar a nova imagem (restart)
          kubectl rollout restart deployment/vibebooks-api -n vibebooks-api-prod