name: Test Runner K8s

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Passo 1 - Verificar
        run: |
          echo "Eu estou rodando dentro do K8s!"